---
---
// font-faces
@import "fonts";

// Core variables and mixins
@import "variables";
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/print";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/forms";

// Components
@import "bootstrap/component-animations";
@import "bootstrap/navs";
@import "bootstrap/navbar";
@import "bootstrap/thumbnails";
@import "bootstrap/responsive-embed";

// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";

h1,h2,h3,h4 {
    text-align: center;
    margin-bottom: $line-height-computed;
}

a:focus {
    outline: 0;
}

.navbar-nav > li > a:hover,.navbar-nav > li > a:focus {
    background-color: $brand-primary;
    color: #000;
}

.morespaceatbottom {
    margin-bottom:3em;
}

.btn {
    box-shadow: 0px 1px 2px rgba(0,0,0,0.4);
    border: 1px solid #bbb;
    border-radius:5px;
    font-size: $font-size-base;
    margin: 1em 1em 0 1em;
    padding: .3em 3em;
    color: $gray-dark;
    width: 300px;
    min-width: 300px;
    display: inline-block;

    :hover {
        box-shadow:  0px 2px 6px rgba(0,0,0,0.3);
    }

    :active {
        box-shadow:  0px 0px 0px rgba(0,0,0,0.1);
    }

    &.btn-large {
        width: inherit;
    }

    &.btn-success {
        background-color: $brand-primary;
        border: 1px solid #999;
        color: #666;

        :hover, :active{
            color: #666;
        }
    }

    &.btn-link {
        box-shadow: none;
        border: none;
        width: inherit;
        font-size: $font-size-base;
        text-decoration: underline;
        margin-top: 0.5em;

        :hover,:active {
            box-shadow: none;
            background-color: none;
        }
    }

    &.btn-apple-store {
        background: url('../img/apple-store.svg') no-repeat;
        font-size: 1px;
        text-indent: -1000px;
        overflow: hiddent;
        width: 246px;
        min-width: 246px;
        height: 86px;
        box-shadow: none;
        border: none;
    }
}

#home-intro {

    .pichak-logo {
        line-height: 0.3;
        text-align: center;
        margin: 3em 0 0.5px 0;

        h1 {
           font-weight: bold;

        }

        h2 {
            padding-top: 0.5em;
            font-size: $font-size-large;// floor(($font-size-base * 1))
        }
    }

}

#intro {
    article {
        margin: 2.5em 0 0;
    }
    p {
        color: #gray-dark;
        padding: 0.2em 0 0;
        text-align: justify;
    }
}

div.people{
    display: inline-block;
    width: 7em;
    height: 7em;
    margin:0 0.4em 3em;
    vertical-align: top;
    display:inline-block;

    img {
        width: 100%;
        height: 100%;
        float: left;
    }

    h3 {
        display: inline-block;
        margin: 0.3em auto;
        padding: 0;
        font-size: ceil(($font-size-base * 0.8));
        text-align: center;
    }

    .you {
        width: 100%;
        height: 100%;
        float: left;
        border: 1px solid #9E9E9E;
        border-radius: 100px;
    }
}

div.people-header {
    text-align:center;
    margin-top:2em;

    .people-img {
        overflow:hidden;
        width: 20em;
        height: 12.5em;
        border:1px solid $gray-dark;
    }
}

div.positions {
    display: inline-block;
    text-align: center;
    width: 9em;
    height: 12em;

    h2 {
        font-size: ceil(($font-size-small * 0.9));
        margin: 10px 0 0 0;
    }

    a {
        color: inherit;
        display: inline-block;
        width: 100%;
        height: 100%;
    }
}

p.motivation {
    text-align:center;
    font-family: 'Noto Serif',serif;
    padding: 1.5em 0 4em 0;
    font-size: 1.1em;
    line-height: 1.4em;
}

#footer{
    color: $gray;
    text-align: center;
    font-size: 0.666em;
    padding-top: 3em;

    .border-top {
        border-top: 1px solid #DDD;
    }
}