@font-face {
    font-family: "Noto Sans";
    src: url('../fonts/notosans-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Noto Sans";
    src: url('../fonts/notosans-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Noto Sans";
    src: url('../fonts/notosans-italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: "Noto Serif";
    src: url('../fonts/notoserif-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Noto Serif";
    src: url('../fonts/notoserif-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Noto Serif";
    src: url('../fonts/notoserif-regular.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
