---
title: jobs
---
<section id="working-at-pichak">
    <div id="intro" class="container no-top-border">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="pichak-logo">
                    <!-- logo -->
                    <h1>Careers at Pichak</h1>
                </div>
                <article>
                    <p>
                    We are a startup in global market. We are a team of 20 talented and friendly people. We believed we could do business internationally and now we’ve proved it by millions of users all around the world. We have some famous products and 20 high-profile people behind them. In Pichak we grow our skills, our users and our money, since here, “The growth matters!”
                    We have a technical friendly team, and a culture of honesty in our company, and we have always a passion to add other talented and friendly people to our team. Would you like to be the next one?
                    </p>
                </article>
            </div>
        </div>
    </div>
</section>
<section id="open-positions">
    <div class="container no-top-border">
        <div class="row">
            <div class="col-md-12 text-center">
                <header class="lined-header">
                    <h1>Open Positions</h1>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-0 col-md-12 text-center">
                <div class="positions">
                    <a href="#position-marketingleader">
                        <i class="ico-position-marketingleader"></i><h2>Marketing Leader</h2>
                    </a>
                </div>
                <div class="positions">
                    <a href="#position-android">
                        <i class="ico-position-android"></i><h2>Software Engineer
                        </h2>
                    </a>
                </div>
                <div class="positions">
                    <a href="#position-designer">
                        <i class="ico-position-designer"></i><h2>UI Designer</h2>
                    </a>
                </div>
                <div class="positions">
                    <a href="#position-web">
                        <i class="ico-position-web"></i><h2>Front-End Developer</h2>
                    </a>
                </div>
                <div class="positions">
                    <a href="#position-crm">
                        <i class="ico-position-crm"></i><h2>Customer Support</h2>
                    </a>
                </div>
                <div class="positions">
                    <a href="#position-devops">
                        <i class="ico-position-devops"></i><h2>Dev Ops</h2>
                    </a>
                </div>
                <div class="positions">
                    <a href="#position-copywriter">
                        <i class="ico-position-copywriter"></i><h2>Content specialist</h2>
                    </a>
                </div>
                <div class="positions">
                    <a href="#position-onlinemarketer">
                        <i class="ico-position-onlinemarketer"></i><h2>Online Marketer</h2>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% for p in site.data.positions %}
{% assign position = p[1] %}
<section id="position-{{ p[0] }}" class="position">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <h1>{{position.title}}</h1>
                <article>
                <p>{{position.desc}}</p>
                </article>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <h2>Skills &amp; Requierements</h2>
                <ul>
                {% for i in position.skills %}
                    <li>
                    {{i.desc}}
                    </li>
                {% endfor %}
                </ul>
            </div>
            <div class="col-md-offset-1 col-md-10">
                <h2>Desires</h2>
                <ul>
                {% for i in position.desires %}
                    <li>
                    {{i.desc}}
                    </li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row position-apply">
            <div class="col-md-offset-1 col-md-10">
                <h3>{{ position.motivation }}</h3>
                <p>We value fast-learning above resume</p>
                <p>
                    <a class="btn btn-success" href="mailto:jobs@pichak.co?subject=Application" role="button">jobs@pichak.co</a>
                </p>
                <p>
                    <a class="btn btn-default" href="mailto:jobs@pichak.co?subject=Get%20in%20touch" role="button">Maybe Later</a>
                </p>
            </div>
        </div>
    </div>
</section>
{% endfor %}