---
title: jobs
---
<section id="working-at-pichak">
    <div id="intro" class="container no-top-border">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="pichak-logo">
                    <!-- logo -->
                    <h1>Work at Pichak</h1>
                </div>
                <article>
                    <p>Pichak is an international startup company made up of 20 talented and friendly individuals. We believed that we could develop products that could be used internationally and now we’ve proved this by <strong>creating well known products that millions of users</strong> are familiar with, all over the world. At Pichak, we grew our skills, our users and our money because <strong>“Growth matters!”</strong>.</p>
                    <p>Pichak is a symbol of growth, so in order to reach our motto; we realized that we have to grow our team.</p>
                    <p>We are friends and colleagues with a great <strong>culture of honesty</strong> in our company. We are looking to add amazing people to this group. Would you like to be the next one?</p>
                </article>
            </div>
        </div>
    </div>
</section>
<section id="open-positions">
    <div class="container no-top-border">
        <div class="row">
            <div class="col-md-12 text-center">
                <header class="lined-header">
                    <h1>Open Positions</h1>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-0 col-md-12 text-center">
            {% for p in site.data.positions %}
            {% assign position = p[1] %}
                <div class="positions">
                    <a href="#position-{{ p[0] }}">
                        <i class="ico-position-{{ p[0] }}"></i><h2>{{position.title}}</h2>
                    </a>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</section>
{% for p in site.data.positions %}
{% assign position = p[1] %}
<section id="position-{{ p[0] }}" class="position">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <h1>{{position.title}}</h1>
                <article>
                <p>{{position.desc}}</p>
                </article>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <h2>Skills &amp; Requierements</h2>
                <ul>
                {% for i in site.data.skills %}
                    <li>
                    {{i.desc}}
                    </li>
                {% endfor %}
                </ul>
            </div>
            <div class="col-md-offset-1 col-md-10">
                <h2>Desires</h2>
                <ul>
                {% for i in position.desires %}
                    <li>
                    {{i.desc}}
                    </li>
                {% endfor %}
                </ul>
            </div>
            <div class="col-md-offset-1 col-md-10">
                <p class="motivation">{{ position.motivation }}</p>
            </div>
        </div>
        <div class="row position-apply">
            <div class="col-md-offset-1 col-md-10">
                <p>
                    <a class="btn btn-success" href="mailto:jobs@pichak.co?subject=Application" role="button">Apply</a>
                </p>
                <p>
                    <a class="btn btn-link" href="mailto:jobs@pichak.co?subject=Get%20in%20touch" role="button">I’m interested in this job position but…</a>
                </p>
            </div>
        </div>
    </div>
</section>
{% endfor %}