<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Pichak Co.</title>
        <meta name="description" content="Pichak Co. official website.">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico in the root directory -->
        <link rel="stylesheet" href="/css/main.css">

        <link rel="stylesheet" href="/css/changes.css">
        <!-- link href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Noto+Serif' rel='stylesheet' type='text/css'-->
        <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body class="home">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="main-wrapper">
            <header id="head" role="banner" calss="navbar navbar-static-top bs-docs-nav">
            {% include navigation.html %}
            </header>
            {{content}}
            <footer id="footer">
            {% include footer.html %}
            </footer>
        </div>
        {% include analytics.html %}
        {% if page.title == 'jobs' %}
        {% include jobs.html %}
        {% endif %}
    </body>
</html>
